@model JeffPaulin.Models.Blog

@{
    ViewData["Title"] = Model.BlogName;
}

<h1 class="background-sky text-center display-3 text-jp-orange p-3 mb-3">@Model.BlogName</h1>
<h5 class="text-jp-blue m-1">@Model.BlogSubHeader</h5>

<div class="m-1">
    @Model.BlogDescription<br />
    <small class="text-muted">This blog was created on @Model.CreatedDate.ToLongDateString()</small>
</div>
<hr />
<div class="m-1">
    <h4 class="text-jp-blue">Posts</h4>
    @*<small class="text-muted"><a asp-controller="Posts" asp-action="Index">View posts for all blogs</a></small>*@
    <div class="m-1">
        @foreach (BlogPostRec pr in Model.BlogPostRecs.OrderByDescending(x => x.Post.CreatedDate))
        {
        <div class="card box-shadow mb-2">
            <a class="stretched-link" asp-action="Post" asp-controller="Posts" asp-route-slug="@System.Web.HttpUtility.UrlEncode($"{pr.PostId}-{ pr.Post.PostHeader}")">
                <h5>@pr.Post.PostHeader</h5>
            </a>
            <div>@pr.Post.PostSubheader</div>
            <div>
                <small class="text-muted">Posted by @pr.Post.PostedBy on @pr.Post.CreatedDate.ToLongDateString()</small>
            </div>
        </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">View all blogs</a>
</div>
