@model IEnumerable<JeffPaulin.Models.Blog>

@{
    ViewData["Title"] = "Blogs";
}

<h1 class="background-sky text-center display-3 text-jp-orange p-3 mb-3">Blogs</h1>

@foreach (var b in Model) {
<div class="card border border-jp-blue mb-1">
    <a asp-controller="Blogs" asp-action="Blog" asp-route-slug="@System.Web.HttpUtility.UrlEncode(b.BlogName)" class="card-header btn btn-jp-blue"><h3>@b.BlogName</h3></a>
    <div class="card-body">
        <div>
            <h5 class="card-title">@Html.Raw(b.BlogSubHeader)</h5>
            <div class="collapse card-text" id="collapseDescription_@b.Id.ToString()">@Html.Raw(b.BlogDescription)</div>
            <a class="toggleMore collapsed" data-toggle="collapse" href="#collapseDescription_@b.Id.ToString()" role="button" aria-expanded="false" aria-controls="collapseDescription_@b.Id.ToString()"></a>
        </div>
        <a class="collapsed btn btn-sm btn-jp-orange mt-3" data-toggle="collapse" href="#collapsePosts_@b.Id.ToString()" role="button" aria-expanded="false" aria-controls="collapsePosts_@b.Id.ToString()">Show Posts</a>
    </div>
    <div class="card-footer collapse" id="collapsePosts_@b.Id.ToString()">
        <div>
            @if (b.BlogPostRecs.Any())
            {
                foreach (BlogPostRec pr in b.BlogPostRecs.Where(x => x.Post.IsActive == true && x.Post.IsDraft == false && x.Post.IsDeleted == false))
                {
                    <a asp-action="Post" asp-controller="Posts" asp-route-slug="@System.Web.HttpUtility.UrlEncode($"{ pr.PostId}-{ pr.Post.PostHeader}")">@pr.Post.PostHeader</a><span class="text-muted"> - @pr.Post.CreatedDate.ToShortDateString()</span>
                    <br />
                }
                if(b.BlogPostRecs.Count() == 5)
                {
                    <a asp-controller="Posts" asp-action="Index">View All...</a>
                }
            }

        </div>
    </div>
</div>
}