@model JeffPaulin.Models.Post

@{
    ViewData["Title"] = $"Edit {Model.PostHeader}";
}

<h1>Edit Post @Model.Id</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostHeader" class="control-label"></label>
                <input asp-for="PostHeader" class="form-control" />
                <span asp-validation-for="PostHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostSubheader" class="control-label"></label>
                <input asp-for="PostSubheader" class="form-control" />
                <span asp-validation-for="PostSubheader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostBody" class="control-label"></label>
                <textarea asp-for="PostBody" class="form-control" />@Html.Raw(Model.PostBody)</textarea>
                <span asp-validation-for="PostBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostedBy" class="control-label"></label>
                <input asp-for="PostedBy" class="form-control" />
                <span asp-validation-for="PostedBy" class="text-danger"></span>
            </div>
            <hr />
            <label class="control-label">Blogs</label>
            @{int i = 0;}
            @foreach (BlogPostRec rec in Model.BlogPostRecs)
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input type="hidden" asp-for="BlogPostRecs.ElementAt(i).BlogId" name="BlogPostRecs[@i].BlogId" id="BlogPostRecs[@i].BlogId" value="@rec.BlogId" />
                        @*<input type="hidden" asp-for="BlogPostRecs.ElementAt(i).PostId" name="BlogPostRecs[@i].PostId" id="BlogPostRecs[@i].PostId" value="@rec.PostId" />*@
                        <input type="checkbox" class="form-check-input" asp-for="BlogPostRecs.ElementAt(i).isChecked" name="BlogPostRecs[@i].isChecked" id="BlogPostRecs[@i].isChecked" value="@rec.isChecked" /> @rec.Blog.BlogName
                    </label>
                </div>
                ++i;
            }
            <hr />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDraft" /> @Html.DisplayNameFor(model => model.IsDraft)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
