@model JeffPaulin.Models.Post

@{
    ViewData["Title"] = Model.PostHeader;
}

<h1 class="background-sky text-center display-3 text-jp-orange p-3 mb-3">@Model.PostHeader</h1>
<hr />
<div class="text-muted">
    Posted by @Model.PostedBy on @Model.CreatedDate.ToLongDateString()<br />
    Posted to: 
    @{int i = 0;}
    @foreach(BlogPostRec pr in Model.BlogPostRecs)
    {
        ++i;
        <a asp-action="Blog" asp-controller="Blogs" asp-route-slug="@System.Web.HttpUtility.UrlEncode(pr.Blog.BlogName)">@pr.Blog.BlogName</a> if(i < Model.BlogPostRecs.Count){<span>, </span>}
    }
</div>
<hr />
<div class="m-2">
    <h3>@Model.PostSubheader</h3>
</div>
<div class="m-2">
    @Html.Raw(Model.PostBody)
</div>
<hr />
<div>
    <a asp-action="Index">View all posts</a>
</div>
